#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Ellipse_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Ellipse_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Ellipse_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Ellipse_5 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Ellipse_6 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Ellipse_7 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Ellipse_8 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Triangle_1 {
  -ms-transform: rotate(90.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69c5fdc3-b2bf-477f-80b7-e76398ac2b08 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}